<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.mapper.NoticeTestMapper">
	
	<select id="noticeSelectList" resultType="com.example.dto.NTSelectListVO">
		<![CDATA[
			SELECT
				idx
				,labelType
				,title
				,startDt
				,endDt   
				,reg_user 
				,reg_dt  AS regDt
				,reg_tm AS regTm
				,case when startDt <= TO_CHAR(sysdate,'YYYYMMDD') and TO_CHAR(sysdate,'YYYYMMDD') <= endDt then 'valid'
				else 'expired'
				end validType
			FROM 
			NB_TEST 	
				]]>
				<where>
				<if test='labelType != null and labelType !=""'>
					<![CDATA[
					and labelType = #{labelType}
					]]>
				</if>
				<if test='title != null and title !=""'>
					<![CDATA[
					and title like '%'||#{title}||'%'
					]]>
				</if>
				<if test='validType != null and validType !=""'>
					<![CDATA[
					and validType = #{validType}
					]]>
				</if>
				<if test='reg_user != null and reg_user !=""'>
					<![CDATA[
					and reg_user like'%'||#{reg_user}||'%'
					]]>
				</if>
				and status='y'
				</where>
			    ORDER BY IDX DESC
	</select>
	
	<select id="noticeSelectOne" resultType="com.example.dto.NTSelectOneVO">
		
		SELECT
				idx
				,labelType
				,title
				,contents 
				,startDt
				,endDt 
				,reg_user 
				,reg_dt 
				,reg_tm 
			FROM 
			NB_TEST 
			where 1=1	
			AND idx = #{idx}
			ORDER BY IDX DESC
			
	</select>	
	
	<insert id="insertOne" parameterType="com.example.dto.NTInsertVO">
    <![CDATA[
    	INSERT INTO NB_TEST(
			 title
			,contents  
			,status
			,labelType
			,startDt 
			,start_tm 
			,endDt 
			,reg_user 
			,end_tm 
			,reg_dt
			,reg_tm 
		)VALUES
		(
			#{title}
			,#{contents}
			,'y'
			,#{labelType}
			,#{startDt}
			,'000000'
			,#{endDt}
			,#{reg_user}
			,'000000'
			,TO_CHAR(SYSDATE, 'YYYYMMDD')
			,TO_CHAR(SYSDATE, 'HH24MISS')
		)
		 ]]>
    </insert>
	
	<update id="updateOne" parameterType="com.example.dto.NTUpdateVO">
    <![CDATA[
    	UPDATE 
    		NB_TEST
    	SET
    		 title =  #{title}
			,contents = #{contents}
    		,labelType = #{labelType}
			,startDt = #{startDt}
			,endDt = #{endDt}
    		,udt_dt = TO_CHAR(SYSDATE, 'YYYYMMDD')
			,udt_tm = TO_CHAR(SYSDATE, 'HH24MISS')		
    	where 1=1
    	and idx = #{idx}
    ]]>
    </update>
	
	<update id="deleteOne" parameterType="com.example.dto.NTDeleteVO">
    <![CDATA[
    	UPDATE 
    		NB_TEST
    	SET
    		STATUS = 'n'
    		,udt_dt = TO_CHAR(SYSDATE, 'YYYYMMDD')
			,udt_tm = TO_CHAR(SYSDATE, 'HH24MISS')	
    	WHERE 1=1
    	AND IDX = ${idx}
    	
    ]]>
    </update>
</mapper>