<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.mapper.NoticeTestMapper">
	
	<select id="noticeSelectList" resultType="com.example.dto.NTSelectListVO">
		
			SELECT
				idx
				,labelType
				,title
				,start_dt AS startDt
				,end_dt  AS endDt
				,reg_user AS registor
				,reg_dt  AS regDt
				,reg_tm AS regTm
			FROM 
			NB_TEST 	
				where 1=1
				and status='y'
			    ORDER BY IDX DESC

		
	</select>
	
	<select id="noticeSelectOne" resultType="com.example.dto.NTSelectOneVO">
		
		SELECT
				idx
				,labelType
				,title
				,contents as content
				,start_dt AS startDt
				,end_dt  AS endDt
				,reg_user AS registor
				,reg_dt  AS regDt
				,reg_tm AS regTm
			FROM 
			NB_TEST 
			where 1=1	
			AND idx = #{idx}
			ORDER BY IDX DESC
			
	</select>	
	
	<insert id="insertOne" parameterType="com.example.dto.NTInsertVO">
    <![CDATA[
    	INSERT INTO NB_TEST(
			 title
			,contents  
			,status
			,labelType
			,importance
			,start_dt 
			,start_tm 
			,end_dt 
			,end_tm 
			,reg_dt
			,reg_tm 
			,reg_user 
		)VALUES
		(
			#{title}
			,#{contents}
			,#{status}
			,#{labelType}
			,#{importance}
			,#{start_dt}
			,#{start_tm}
			,#{end_dt}
			,#{end_tm}
			,#{reg_dt}
			,#{reg_tm}
			,#{reg_user}
		)
		 ]]>
    </insert>
	
	<update id="updateOne" parameterType="com.example.dto.NTUpdateVO">
    <![CDATA[
    	UPDATE 
    		NB_TEST
    	SET
    		labelType = #{labelType}
    		,title =  #{title}
			,contents = #{contents}
			,start_dt = #{start_dt}
			,end_dt = #{end_dt}
    		,udt_dt = TO_CHAR(SYSDATE, 'YYYYMMDD')
			,udt_tm = TO_CHAR(SYSDATE, 'HH24MISS')
			,udt_user = #{udt_user}
    	WHERE 1=1
    	AND IDX = #{idx}
    	
    	
    	
    ]]>
    </update>
	
	<update id="deleteOne" parameterType="com.example.dto.NTDeleteVO">
    <![CDATA[
    	UPDATE 
    		NB_TEST
    	SET
    		STATUS = 'n'
    		,udt_dt = TO_CHAR(SYSDATE, 'YYYYMMDD')
			,udt_tm = TO_CHAR(SYSDATE, 'HH24MISS')
			
    		
    	WHERE 1=1
    	AND IDX = ${idx}
    	
    ]]>
    </update>
</mapper>